.home-design-section {

    & > div > div > .blob-1 {
        position: absolute;
        z-index: -1;
        height: 600px;
        width: auto;
        right: -3rem;
        top: -3rem;

        @screen md {
            height: 450px;
            right: -3rem;
            top: 0rem;
        }

       @screen lg {
        height: 900px;
        right: -20rem;
        top: -11rem;
        transform: rotateX(-45deg);
       }
    }

    & > div > div > .squares-1 {
        position: absolute;
        z-index: 1;
        width: auto;
        right: -4rem;
        top: 15rem;
    }

    & > .points-grid {
        position: absolute;
        top: -11rem;
        left:-7rem;
        z-index: -1;
        height: 80px;
        @screen md {
            top: -10rem;
            left: -8rem;
            height: 100px;
        }
    }
}

.home-development-section {
    & > div > div {
        & > .blob-1 {
            position: absolute;
            z-index: -1;
            width: 550px;
            top: -8rem;
            right: -2rem;
            display: block;
            @screen md {
                width: 700px;
                top: -6rem;
                left: -15rem;
            }
        }

        & > .cross1 {
            position: absolute;
            left: 0;
            bottom: 7rem;
            z-index: -1;
        }

        & > .cross2 {
            position: absolute;
            left: -4rem;
            bottom: 5rem;
            width: 80px;
            height: auto;
            z-index: -1;
        }
    }

}

.service-list__horizontal > div:last-child > span {
    display: none;
    
}

.home-other-section {

    & > div > div > .blob-1 {
        position: absolute;
        z-index: -1;
        height: 400px;
        width: auto;
        right: -3rem;
        top: -3rem;

        @screen md {
            height: 450px;
            right: -3rem;
            top: 0rem;
        }

       @screen lg {
        height: 900px;
        right: -20rem;
        top: -11rem;
        transform: rotateX(-45deg);
       }
    }

    & > div > div > .squares-1 {
        position: absolute;
        z-index: 1;
        width: auto;
        right: -4rem;
        top: 15rem;
    }

    & > .points-grid {
        position: absolute;
        top: -10rem;
        left: -8rem;
        height: 100px;
        z-index: -1;
    }
}